*{
    box-sizing: border-box;
}
ul{
    padding-left:18px;
}
li{
    line-height:150%;
}
input{
    padding: 5px;
    height: 28px;
    border:1px solid gray;
}
button{
    padding: 5px;
    height: 28px;
    width:50px;
    border:1px solid gray;
    margin-left: 5px;
    position: relative;
    top:1px;
}